<footer class="main-footer">

    <div class="footer-wrapper">
        <div class="row">
            <div class="col-sm-4 col">
                <ul>
                    <li><a href="">Contact us</a></li>
                    <li><a href="">Delivery</a></li>
                    <li><a href="">Returns & Exchanges</a></li>
                    <li><a href="">Payment</a></li>
                    <li><a href="">Gift Card</a></li>
                    <li><a href="">FAQS</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col">
                <ul>
                    <li><a href="">The Company</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Advertising</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Privacy</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col">

                <div class="newsletter-wrapper">
                    <div class="title">STAY IN TOUCH</div>

                        <form action="http://dresshirt.us3.list-manage.com/subscribe/post-json?u=d94b2a28169f44d9fac2ad184&amp;id=1fa04c008c" method="post" name="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form validate" target="_blank" novalidate>

                            <div class="input-field-wrapper clearfix">

                                <input type="email" name="EMAIL" class="required email mce-EMAIL">
                                <input type="submit" name="subscribe" value="Subscribe" class="mc-embedded-subscribe" >  

                            </div>

                            

                            <div class="response mc-response"></div>
                        </form>
                </div>




                <div class="social-icon-wrapper">
                    <div class="title">FOLLOW</div>
                    <ul class="social-icon-list clearfix">
                        <li><a href="/" target="_blank" class="facebook">&#xe027;</a></li>
                        <li><a href="/" target="_blank" class="twitter">&#xe086;</a></li>
                        <li><a href="/" target="_blank" class="pinterest">&#xe064;</a></li>
                        <li><a href="/" target="_blank" class="instagram">&#xe100;</a></li>
                    </ul>
                </div>


            </div>



        </div>


        <div class="copy-wrapper">
            <div>&#169; 2015 Reservoir Los Angeles</div>
        </div>


    </div>
    
</footer>