<div class="input-group">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-number"  data-type="minus" data-field="quant[1]">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </span>
  {% if parseQuantity %}
    <input type="text" name="quant[1]" class="form-control input-number" value="<% quantity %>" min="1" max="10">
  {% else %}
    <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
  {% endif %}
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </span>
</div>