<section class="instagram-wrapper" id="instagram-feed"></section>


<div id="blog">
	

	<div class="blog-wrapper">
	    <section class="articles">

	        	<article class="article">
	           
	                
	                
	                <h3>{{ article.title }}</h3>
	                <div class="excerpt">
	                    {{ article.content }}
	                </div>
	                

	            <a href="/blogs/blog" class="read-more">Go Back</a>
	        	</article>
	        	
	        	
	    </section>
	            
	</div>




</div>











