{% assign embroidery_size = 0 %}
{% assign embroidery_price = 0 %}

{% for item in cart.items %}
  {% if item.product.handle == "embroidery" %}
    {% assign embroidery_size = item.quantity %}
    {% assign embroidery_price = item.price %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign cart_size = cart.item_count | minus : embroidery_size %}

<div id="cart" data-moneyformat='{{ shop.money_format }}' class="container">
  <!-- Begin empty cart -->
  {% if cart_size == 0 %}
  <div class="text-center cart-empty-notice">
    <div class='row'><div class='expanded-message'><h2 class='empty-cart'>Your Tote is Empty</h2></div></div>
  </div>
  <!-- End empty cart -->
  
  <!-- Begin cart -->
  {% else %}
  <div id="cart-row">
      <!-- <h1 class="text-center">Tote</h1> -->
      <form action="/cart" method="post" id="cartform">
        <table class="table">
          <thead>
            <tr>
            <th class="image">Product</th>
              <th class="item">&nbsp;</th>
              <th class="qty text-center">Quantity</th>
              <th class="text-right">Price</th>
            </tr>
          </thead>
          <tbody id="cart-target"></tbody>
        </table>
		
		<section class="container-fluid buttons-container">
			<div class="row">
				
		        <div class="col-md-6">
              {% comment %}
              <label>Add a custom message to your order</label>
              <textarea id="note" name="note" placeholder="Write your instructions here...">{{ cart.note }}</textarea>
              {% endcomment %}
		        </div>
		
				{% comment %}
				<!-- 
				<div class="text-center col">
		            <a href="/cart/clear" id="cart-empty-btn">EMPTY CART</a>
		        </div>
		        -->
		        {% endcomment %}
		
		        <div class="col-md-6">
		          <input type="submit" id="checkout" name="checkout" value="CHECK OUT" />
		        </div>
	        
			</div>
		</section>

        {% if additional_checkout_buttons %}        
          <div class="extra-checkout-buttons span6 text-center">
          {{ content_for_additional_checkout_buttons }}
          </div>
        {% endif %}

      
      </form>
    </div>
  </div>
  {% endif %}
  <!-- End cart --> 
</div> 

<script id="template-cart" type="text/mustache">
  <%#items%>
    <tr data-lineitem="<% . %>" data-handle="<% handle %>" class="cart-item-row">
      <td class="image" colspan="2">
        <div class="product_image">
          <a href="<% url %>">
            <img src="<% image %>"  alt="<% title %>" />
          </a>
        </div>

        <a class="itemBtn" href="{{ item.url }}"><% product_title %></a>      
        <div class="cart-variant-options">
          <ul>
            <%#variant_options%>
              <li>size:<% . %></li>
            <%/variant_options%>
          </ul>
        </div>   
        <div class="cart-variant-properties">
          <ul>
            <%#properties%>
            <li>Text : <% text %></li>
            <li>Font : <% font %></li>
            <Li>Color : <% color %></li>
            <%/properties%>
          </ul>
        </div>    
        <a class="cart removeBtn cart-remove" href="/cart/change?line=<% line %>&quantity=0" data-line="<% line %>" data-variantId="<% id %>" data-hasembroidery="<%#properties%>true<%/properties%><%^properties%>false<%/properties%>" data-quantity="<% quantity %>" >Remove &times;</a>
      </td>
      <td class="qty">
	      
	    
	       
        <select name="updates[]" id="updates_<% id %>" class="tc item-quantity product-selector" data-hasembroidery="<%#properties%>true<%/properties%><%^properties%>false<%/properties%>" data-itemid="<% id %>" data-originalquantity='<% quantity %>'>
          <option value="<% quantity %>"><% quantity %></option>
        </select>

        {% assign parseQuantity = true %}
       
        {% comment %} {%include 'plus-minus-quantity' %}{% endcomment %}  
      </td>
      <td class="price text-center">
        <% line_price %>
        <%#embroidery_price%>
          <span class="embroidery_price"> + <% embroidery_price %></span>
        <%/embroidery_price%>
      </td> 
    </tr>
  <%/items%>
  <tr class="summary cart-total">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="text-center">TOTAL</td>
    <td class="price total-price"><% total_price %></td>
  </tr>
</script>

<!--  -->
<script id="template-cart-empty-message" type="text/mustache">
  <div class="text-center cart-empty-notice">
    <div class='row'><div class='expanded-message'><h2 class='empty-cart'>Your Tote is Empty</h2></div></div>
  </div>
</script>

